@charset "utf-8";
*{
	direction: rtl;
}

header{height: 25px;
	background-color:#6764CE;
text-align: center;
}

#vorudi,#sabtenam{}



nav{display: flex;
vertical-align: middle;}



#search{direction: ltr;}
#axebala{float: right;
height: 300px;
width: 100%;}

.klid{
background-color: #6764CE;
	height: 100px;
}
.textvast{
font-size: 26px;
color:#6764CE;
text-align: center;}

.screen{
	height: 150px;
	width: 150px;
}
.axearticle{
	height: 200px;
	width: 300px;
}
footer{height: 520px;
background-color:#6764CE
	
 }

#textakhrinmaghalat{font-size: 25px;
	color: white;
}
.textfooter{color: white;
font-size: 18px;}
.hrfooter{float: right;
	width: 300px;
	color: white;
}
#paiin{
	text-align: center;
color:white;}
#bakhshe1{width: 40%;
display:inline-block;}
#bakshe2{width:30%;
display:inline-block;
}
#logofo{width:150px;
	height: 150px;
}
#bakshe3{
	
}